*{
margin: 0;
box-sizing: border-box;
padding: 0;
}




.navbar{


text-align: left;
padding: 10px;
position: sticky;
top: 0px;
display: flex;
justify-content: space-between;
z-index: 1;


}


.personal{
padding-top: 60px;
height: 500px;
    
}

.sobre-mi{
    
    
    padding-top: 60px;
    padding-bottom: 100px;


  
    
}

.foto_modal img{


    height: 300px;
}


hr{

  
    background: black;
    margin: 20px 100px;
}

.sobre-mi img {

    width: 50%;
}



p{

    font-size: 16px;
    
}

.dev p{
    
    
    padding-top: 46px;
}
.contacto{

   
    height: 500px;
}

footer{


    text-align: center;
    font-size: 40px;
    height: 100px;
    background:#212529;
    color: white;

}
footer p{
    padding-top: 34px;
    font-family: 'Roboto', sans-serif;
font-size: 25px;
    
}

.iconos{

color: white;

}



@media( max-width: 600px ){


    hr{

        display: none;
    } 


#sobre-mi{

margin-top: 190px;
}
    

.dev p {
    padding-top: 4px;

}

.foto-personal{

margin: 10px 10px;

}



.navbar-expand-lg .navbar-collapse {
    
    text-align: center;
    justify-content: center;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
}


.trabajos{

padding-top: 470px;
}


}
