*{
margin: 0;
box-sizing: border-box;
padding: 0;
}

.foto-personal{



    

}

.navbar{

background: white;
text-align: left;
padding: 10px;
position: sticky;
top: 0px;
display: flex;
justify-content: space-between;
z-index: 1;


}

.sobre-mi{
    
    background:white;


  
    
}
.sobre-mi img {

    width: 50%;
}

h2{

    text-align: center;
}

p{

    font-size: 16px;
    
}

/* .imperial{
height: 300px;
    
}



.dev{
height: 300px;

}

.rock{

height: 300px;
}

.libros{

height: 200px;
} 


.contacto{

    background: yellow;
    height: 200px;
}

footer{


    text-align: center;
    font-size: 20px;
    height: 100px;
    background: black;
    color: white;

}
footer p{
    padding-top: 34px;
    font-family: 'Roboto', sans-serif;

    
}

.iconos{

color: white;

}




